body
{
	background-image: url("img7.jpg");
	background-repeat: no-repeat;
  		background-position: center center;
  		background-attachment: fixed;
  		background-size: cover;
}
.in
{
	color:yellow;
	text-shadow: 0px 3px white;
	font-size: 3rem;
}
h1
{
	color:yellow;
	text-shadow: 0px 3px white;
	font-size: 100px;
}
#enter
{
	margin-top:120px;
}
#button
{
	margin-left: 45%;
}